@{
    ViewBag.Title = "博覽會管理介面";
}

<input type="text" name="Inquiry"><input type="button" value="查詢" />
<h2>博覽會</h2>
<table >
    <tr >
        <td >博覽會名稱</td> <td>地點</td> <td>起始日期</td> <td>結束日期</td> <td>票價</td> 
    </tr>
       
     <tr>
         <td>@Html.ActionLink("XX博覽會", "New_Exhibition", "Home")</td> <td>新疆</td> <td>2013-10-02</td> <td>2013-11-02</td> <td>1000</td>  
    </tr>

     <tr>
         <td>XX博覽會</td> <td>台灣</td> <td>2013-10-03</td> <td>2013-11-03</td> <td>1000</td> 
    </tr>

     <tr>
         <td>XX博覽會</td> <td>大陸</td> <td>2013-10-04</td> <td>2013-11-04</td> <td>1000</td> 
    </tr>

     <tr>
         <td>XX博覽會</td> <td>澎湖</td> <td>2013-10-05</td> <td>2013-11-05</td> <td>1000</td> 
    </tr>

     <tr>
         <td>XX博覽會</td> <td>高雄</td> <td>2013-10-06</td> <td>2013-11-06</td> <td>1000</td>  
    </tr>

     <tr>
         <td>XX博覽會</td> <td>台北</td> <td>2013-10-07</td> <td>2013-11-07</td> <td>1000</td> 
    </tr>

     <tr>
         <td>XX博覽會</td> <td>台中</td> <td>2013-10-08</td> <td>2013-11-08</td> <td>1000</td>
    </tr>

     <tr>
         <td>XX博覽會</td> <td>台南</td> <td>2013-10-09</td> <td>2013-11-09</td> <td>1000</td>  
    </tr>

     <tr>
         <td>XX博覽會</td> <td>台東</td> <td>2013-10-10</td> <td>2013-11-10</td> <td>1000</td> 
    </tr>

     <tr>
         <td>XX博覽會</td> <td>基隆</td> <td>2013-10-12</td> <td>2013-11-12</td> <td>1000</td> 
    </tr>

</table>

