@{
    ViewBag.Title = "參展商管理介面";
}
<input type="text" name="Inquiry"><input type="button" value="查詢" />
<h2>參展商</h2>
<table >
    <tr >
        <td >參展商名稱</td> <td>參展商電話</td> <td>參展商地址</td> <td>負責人
    </tr>
       
     <tr>
         <td>@Html.ActionLink("Dxracer", "New_Exhibitors", "Home")</td> <td>98798797899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街17號</td> <td>李三寶</td> 
    </tr>
     <tr>
         <td>SLIM</td> <td>32598797899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街171號</td> <td>許利明</td> 
    </tr>
     <tr>
         <td>Alapa</td> <td>99872154374</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街1314號</td> <td>派大興</td> 
    </tr>
     <tr>
         <td>BenQ</td> <td>12345678944</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街14號</td> <td>姜太公</td> 
    </tr>
     <tr>
         <td>樹科大參展商</td> <td>32514597899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街115號</td> <td>馬應糾</td> 
    </tr>
     <tr>
         <td>海科大參展商</td> <td>32598889899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街133號</td> <td>沉睡邊</td> 
    </tr>
     <tr>
         <td>OK參展商</td> <td>32598123899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街165號</td> <td>王錦聘</td> 
    </tr>
     <tr>
         <td>統一參展商</td> <td>32598797764</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街122號</td> <td>潘安</td> 
    </tr>
     <tr>
         <td>義大參展商</td> <td>32598321899</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街143號</td> <td>曾郭承</td> 
    </tr>
     <tr>
         <td>名素參展商</td> <td>32598797433</td> <td>新疆維吾爾自治區伊犁哈薩克自治州伊寧市勝利街紅星街151號</td> <td>王宏仁</td> 
    </tr>

    
</table>

