@{
    ViewBag.Title = "商品資料管理介面";
}
<input type="text" name="Inquiry"><input type="button" value="查詢" />
<script>
    $(document).ready(function() {
        jQuery("#grid_id").jqGrid({
            datatype: "local",
            height: 250,
            colNames: ['Product_Information_name', 'Product_Information_class', 'Product_Information_Exhibitors_name'],
            colModel: [
       { name: 'Product_Information_name', label: '商品名稱', width: 200, align: 'center' },
       { name: 'Product_Information_class', label: '商品類別', width: 200, align: 'center' },
        { name: 'Product_Information_Exhibitors_name', label: '廠商名稱', width: 200, align: 'center' }
               
            ],
            multiselect: true,
            caption: "商品資料管理",
            rownumbers: true,
            pager: '#pager',
            rowList: 10,
            autowidth: true
            
        });  // jqGrid
 
        var mydata = [
            { Product_Information_name: "超好用的床",Product_Information_class:"家具類",Product_Information_Exhibitors_name:"XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" },
              { Product_Information_name: "超好用的床", Product_Information_class: "家具類", Product_Information_Exhibitors_name: "XX廠商" }
        ];
   
        for(var i=0;i<=mydata.length;i++)
            jQuery("#grid_id").jqGrid('addRowData',i+1,mydata[i]);
    });  
    </script>
<h2>商品資料管理介面</h2>
<div id="draggable">
<table id="grid_id">
  
</table>
<div id="pager">
</div>
</div>